---
---

@import 'custom/variables';

#content {
    margin: 0 auto;
    padding: 0;
    max-width: 80%;
}

.accordion {
    vertical-align: top;
    display: inline-block;
    overflow-y:scroll;
    overflow-x:hidden;
    height: 60vh;
    width: 29vw;
}

.accordion-cells {
    border-radius: 5px;
    background-color: $transparent-dark;
}

#slideviewer {
    vertical-align: top;
    width: 48vw;
    height: 60vh;
    padding: 0 0 0 0;
    border-radius: 5px;
    border: $white 3px solid;
    background-color: $transparent-dark;
    background: url(/assets/images/loading.gif) no-repeat center;
    background-size: 150px 150px;
    display: inline-block;
}

#slides {
    text-align: center;
    margin: 0 auto;
    height: 100%;
}

#the-canvas {
    max-width: 100%;
    padding: 0;
    margin: auto 0;
    height: calc(100% - 50px);
    margin: 0 auto;
}

#slide-navigation {
    border-top: thin solid $white;
    padding-bottom: 5px;
    display: block;
    height: 50px;
    width: 100%;
    text-align: center;
}

.evento { // card
    background-color: $transparent-dark !important;
    padding: 0;
}

.card-header {
    margin: 0;
    padding: 0;
}

.card-body {
    margin: 0;
    padding: 0;
}

.card-body > ul > li {
    margin-bottom: 5px;
}

.collapse {
    background-color: $transparent-light !important;
}
.collapsing {
    background-color: $transparent-light !important;
}

.accordion-selector {
    width: 100%;
    display: block;
    text-align: left;
}

#download {
    padding: 3px 0 0 0;
    height: 100%;
}

#download > *, #next > *, #prev * {
    color: $white !important;
}

.city {
    color: $white !important;
}

.date {
    color: $white !important;
}

li.item-list { // each keynote
    list-style: none;
}

li.item-list.active > a, li.item-list.active > .link-icon {
    color: $yellow !important;
    font-weight: bolder;
}

li.item-list > a {
    color: $white !important;
    font-weight: bolder;
}

li.item-list:hover:not(.active) {
    background-color: $transparent-lighter !important;
}
li.item-list:hover:not(.active) > .link-icon {
    color: $darkgray !important;
}
li.item-list:hover:not(.active) > a {
    color: $darkgray !important;
}

li.item-list > a:hover {
    text-decoration: none;
}
li.item-list:not(.active) > a:hover {
    color: $darkgray !important;
}

.link-icon {
    top:5px;
    position: absolute;
    right: 5px;
    color: $white !important;
}

.subtitle {
    display:block;
    font-style: italic;
}

.date {
    float: right;
}

.palestra.active, .palestra.active:hover {
    background-color: rgba(100,100,100, 1.0) !important;
    color: $white !important;
    border: none;
}

button {
    background-color: rgba(0,0,0,0);
    border: none;
}

.palestra {
    background-color: rgba(100.0, 100.0, 100.0, 0.7);
    color: $yellow;
    text-shadow: 0px 0px 0px $darkgray;
    text-align: left !important;
    padding: 4px 4px 4px 12px;
}

.palestra:hover, {
    color: $darkorange;
    background-color: rgba(190.0, 190.0, 190.0, 0.7) !important;
}

small.author {
    clear: both;
    display: block;
}

@media (max-width:$phone) {

    #content {
        width: 95vw;
        max-width: 95vw;
    }

    .accordion {
        width:100%;
        margin: 0 auto 1em auto;
        padding: 5px 5px 5px 5px !important;
        border-radius: 2px;
        font-size: 90%;
        max-height: 40vh;
    }

    #slideviewer {
        margin-top: 5em;
        vertical-align: top;
        width: 100%;
        display: block;
        float: none;
        margin: auto;
        height: auto;
    }

    #the-canvas {
        height: auto;
        width: 100%;
    }

}

@media (min-width: $tablet) and (max-width: $monitor) {
    .accordion {
        min-width: 250px;
        margin: 0 auto;
        padding: 5px 5px 5px 5px !important;
        border-radius: 2px;
        font-size: 90%;
    }
}
