
$white: #f3f3f3;
$pitblack: #000;
$black: #222;
$darkgray: #444;
$yellow: #dd4;
$orange: #d84;
$darkorange: #742;

$transparent-dark: rgba(1.0, 1.0, 1.0, 0.5);

$phone: 550px;
$tablet: 750px;
$monitor: 1280px;
