
$white: #f3f3f3;
$pitblack: #000;
$black: #222;
$darkgray: #444;
$yellow: #dd4;
$orange: #d84;
$darkorange: #742;

$transparent-dark: rgba(30, 30, 30, 0.7);
$transparent-light: rgba(150, 150, 150, 0.5);
$transparent-lighter: rgba(200, 200, 200, 0.5);

$phone: 750px;
$tablet: 900px;
$monitor: 1280px;
