@media (min-width: $phone) and (max-width: $tablet) {
    .accordion {
        width:100%;
        margin: 0 auto 1em auto;
        padding: 5px 5px 5px 5px !important;
        border-radius: 2px;
        font-size: 90%;
        max-height: 25vh;
    }
    #slideviewer {
        width: 100%;
        height: 50vh;
        margin-top: 5em;
        vertical-align: top;
        display: block;
        float: none;
        margin: 0 auto;
    }
}
